.App {
  text-align: center;
}

.box {
  height: 100px;
  width: 100px;
}

.box:hover {
  box-shadow: 0px 0px 10px 5px #0ff;
  transform: scale(1.2);
}

section {
  /* max-width: 1000px;
  min-width: 100px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

